name: ci

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

jobs:
  
  quality_assurance:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: pip install black flake8 isort
      - run: isort --check .
      - run: black --check .
      - run: flake8 .
  
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: pip install -r docs/requirements.txt
      - run: mkdocs build
  
  setup_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: mamba-org/setup-micromamba@v1
        with:
          activate-environment: test
          environment-file: environment.yml
          auto-activate-base: false
      - name: mamba check
        shell: bash -l {0}
        run: |
          mamba info
          mamba list
      - name: install hat package
        shell: bash -l {0}
        run: pip install .
      - name: run tests
        shell: bash -l {0}
        run: |
          pip install pytest
          pytest
